.DS_Store
node_modules
/dist

tunnel.bat
_wildcard.clickstitch.localdev+1-key.pem
_wildcard.clickstitch.localdev+1.pem

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?