@page "/share/project/{projectReference:guid}"
@model ClickStitch.Pages.ShareProjectModel

<html>
<head>
    <title>ClickStitch</title>
    <meta name="description" content="Test 123">

    <meta property="og:url" content="https://clickstitch.app">
    <meta property="og:type" content="website">
    <meta property="og:title" content="ClickStitch">
    <meta property="og:description" content="Completed: @Model.PercentageCompleted.ToString("F")">
    <meta property="og:image" content="@Model.ImageUrl">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="clickstitch.app">
    <meta property="twitter:url" content="https://clickstitch.app">
    <meta name="twitter:title" content="ClickStitch">
    <meta name="twitter:description" content="Completed: @Model.PercentageCompleted.ToString("F")">
    <meta name="twitter:image" content="@Model.ImageUrl">
</head>
<body>
</body>
</html>