@use '@wjb/styling/main' as *;
@use '@wjb/styling/setup-variables' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @include setup-variables();

    --primary: 34 146 127;
    --primary-dark: 22 115 99;
    --primary-light: 25 143 124;

    --secondary: 127 34 146;
    --secondary-dark: 94 22 108;

    --danger: 185 28 28;

    --success: 68 221 68;

    --light: 236 236 236;
    --light-dark: 210 210 220;
    --light-light: 250 250 250;

    --dark: 34 34 38;
    --dark-dark: 24 24 28;
    --dark-light: 54 54 58;

    --background: var(--light);
    --background-dark: var(--light-dark);
    --background-light: var(--light-light);

    --wjb-white: #f8f8f8;
    --wjb-black: #141416;

    --wjb-light: #ececec;
    --wjb-dark: #222226;

    --wjb-background-colour: var(--wjb-light);
    --wjb-background-colour-dark: color-mix(in srgb, var(--wjb-background-colour) 90%, #000);

    --wjb-text-colour: var(--wjb-dark);
    --wjb-text-colour-opposite: var(--wjb-light);

    --wjb-primary: #22927f;
    --wjb-secondary: #7f2292;

    --wjb-border-radius: 0.3rem;

    --wjb_modal-content-background-colour: var(--wjb-background-colour);

    --footer-height: 162px;

    --stitched-background-image: url(@/assets/bg-light.png);

    @media (prefers-color-scheme: dark) {
        --background: var(--dark);
        --background-dark: var(--dark-dark);
        --background-light: var(--dark-light);

        --wjb-background-colour: var(--wjb-dark);
        --wjb-background-colour-dark: color-mix(in srgb, var(--wjb-background-colour) 80%, #000);

        --wjb-text-colour: var(--wjb-light);
        --wjb-text-colour-opposite: var(--wjb-dark);

        --stitched-background-image: url(@/assets/bg-dark.png);
    }
}