@use '@wjb/styling/main' as *;
@use '@wjb/styling/setup-variables' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .text-shadow {
        text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    }

}

:root {
    @include setup-variables();

    --primary: 34 146 127;
    --primary-dark: 22 115 99;
    --primary-light: 25 143 124;

    --secondary: 127 34 146;
    --secondary-dark: 94 22 108;

    --danger: 185 28 28;

    --warning: 189 113 14;

    --success: 68 221 68;

    --light: 236 236 236;
    --light-dark: 210 210 220;
    --light-light: 250 250 250;

    --dark: 34 34 38;
    --dark-dark: 24 24 28;
    --dark-light: 54 54 58;

    --background: var(--light);
    --background-dark: var(--light-dark);
    --background-light: var(--light-light);
    --background-texture: url(@/assets/bg-light.png);

    --text-colour: rgb(var(--dark));

    --wjb-light: #ececec;
    --wjb-dark: #222226;

    --wjb-background-colour: var(--wjb-light);

    --wjb-primary: #22927f;
    --wjb-secondary: #7f2292;

    --wjb-border-radius: 0.3rem;

    @media (prefers-color-scheme: dark) {
        --background: var(--dark);
        --background-dark: var(--dark-dark);
        --background-light: var(--dark-light);
        --background-texture: url(@/assets/bg-dark.png);

        --text-colour: rgb(var(--light));

        --wjb-background-colour: var(--wjb-dark);
    }
}