@use '@wjb/styling/main' as *;
@use '@wjb/styling/setup-variables' as *;
@use '@/style/variables' as *;

:root {
    @include setup-variables();

    --wjb-white: #f8f8f8;
    --wjb-black: #141416;

    --wjb-light: #ececec;
    --wjb-dark: #222226;

    --wjb-background-colour-light: var(--wjb-white);
    --wjb-background-colour: var(--wjb-light);
    --wjb-background-colour-dark: #ddd;

    --wjb-text-colour: var(--wjb-dark);
    --wjb-text-colour-opposite: var(--wjb-light);

    --wjb-primary: #22927f;
    --wjb-primary-light: #30a390;
    --wjb-primary-dark: #18695c;

    --wjb-secondary: #7f2292;
    --wjb-secondary-light: #9833ac;
    --wjb-secondary-dark: #591866;

    --wjb-danger: #{$danger};

    --wjb-border-radius: 0.3rem;

    --wjb_modal-content-background-colour: var(--wjb-background-colour);

    --footer-height: 162px;

    @media (prefers-color-scheme: dark) {
        --wjb-background-colour-light: var(--wjb-black);
        --wjb-background-colour: var(--wjb-dark);
        --wjb-background-colour-dark: #171718;

        --wjb-text-colour: var(--wjb-light);
        --wjb-text-colour-opposite: var(--wjb-dark);
    }
}

.\@wjb-button-component {
    --wjb-text-colour: var(--wjb-light);

    background: linear-gradient(
        -45deg,
        var(--wjb-primary-dark),
        var(--wjb-primary),
    );

    &:hover {
        background: linear-gradient(
            -45deg,
            var(--wjb-primary-dark),
            var(--wjb-primary-dark),
        );
    }

    &.secondary {
        --wjb-text-colour-opposite: var(--wjb-light);

        background: linear-gradient(
            -45deg,
            var(--wjb-secondary-dark),
            var(--wjb-secondary),
        );

        &:hover {
            background: linear-gradient(
                -45deg,
                var(--wjb-secondary-dark),
                var(--wjb-secondary-dark),
            );
        }
    }

    &.tertiary {
        background: linear-gradient(
            -45deg,
            var(--wjb-tertiary-dark),
            var(--wjb-tertiary),
        );

        &:hover {
            background: linear-gradient(
                -45deg,
                var(--wjb-tertiary-dark),
                var(--wjb-tertiary-dark),
            );
        }
    }

    &.danger {
        background: linear-gradient(
            -45deg,
            var(--wjb-danger-dark),
            var(--wjb-danger),
        );

        &:hover {
            background: linear-gradient(
                -45deg,
                var(--wjb-danger-dark),
                var(--wjb-danger-dark),
            );
        }
    }
}

.\@wjb-delete-button-component {
    background: linear-gradient(
        -45deg,
        var(--wjb-danger-dark),
        var(--wjb-danger),
    );

    &:hover {
        background: linear-gradient(
            -45deg,
            var(--wjb-danger-dark),
            var(--wjb-danger-dark),
        );
    }
}

.\@wjb-modal-component {
    & > .content-container {
        border-top: 2px solid var(--wjb-primary);
        border-radius: var(--wjb-border-radius) !important;
    }
}

.\@wjb-modal-component > .content-container {
    background-color: var(--wjb-background-colour);
    background-attachment: fixed;
    background-image: url(@/assets/bg-light.png);

    @media (prefers-color-scheme: dark) {
        background-image: url(@/assets/bg-dark.png);
    }
}